<div class="flex gap-4 p-2 overflow-x-auto scrollbar-thin scrollbar-thumb-spotify-gray scrollbar-track-transparent">
    @for (playlist of playlists(); track playlist.id) {
      @if(playlist){
        <div class="relative group w-40 sm:w-48 shrink-0 hover-animation cursor-pointer " [routerLink]="['/playlist/',playlist.id]">
          <div class="relative rounded-lg overflow-hidden aspect-square">
            <!-- Image with Fallback -->
             @if(playlist.images &&playlist.images[0].url && playlist.images.length > 0){
              <img 
              [src]="playlist.images[0].url || '/assets/default-playlist.png'"
              alt="{{ playlist.name }} cover art"
              class="w-full h-full object-cover"
              loading="lazy"
              (error)="playlist.images[0].url= '/assets/default-playlist.png'"
            >
             }
    
            
            <!-- Gradient Overlay -->
            <div class="absolute inset-0 image-overlay group-hover:opacity-100 opacity-90 transition-opacity"></div>
            
            <!-- Content -->
            <div class="absolute bottom-0 left-0 right-0 p-3">
              <h3 class="text-white font-semibold truncate text-shadow">{{ playlist.name }}</h3>
              <p class="text-spotify-lightGray text-sm mt-1 truncate">
                {{ playlist.description || 'Playlist' }}
              </p>
            </div>
            
            <!-- Play Button -->
            <button 
              class="absolute bottom-2 right-2 play-button opacity-0 group-hover:opacity-100"
              (click)="playPlaylist(playlist.id); $event.stopPropagation()"
              title="Play {{ playlist.name }}"
            >
              <svg class="w-4 h-4 fill-current text-black" viewBox="0 0 16 16">
                <path d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"/>
              </svg>
            </button>
          </div>
        </div>
      }
 
    }
  </div>