<section class="overflow-y-auto flex flex-col overflow-x-hidden max-h-screen" #listA>
    @if (isExpanded()) {
        <div  class="flex  justify-between items-center px-4">
            <!-- search  -->
            <button class="p-1 hover:bg-spotify-gray-dark group hover:scale-105 rounded-full duration-200 "> <svg data-encore-id="icon" role="img"
                    aria-hidden="true" class="h-4 w-4" viewBox="0 0 16 16">
                    <path class="fill-spotify-gray group-hover:fill-white"
                        d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z">
                    </path>
                </svg></button>
    
            <!-- filter -->
            <button class="p-1 flex  group duration-200  justify-center hover:scale-105 items-center space-x-1">
    
                <span class="text-spotify-gray text-sm group-hover:text-white  ">Recents</span>
                <svg data-encore-id="icon" role="img" aria-hidden="true" class="h-4 w-4 " viewBox="0 0 16 16">
                    <path class="fill-spotify-gray group-hover:fill-white"
                        d="M15 14.5H5V13h10v1.5zm0-5.75H5v-1.5h10v1.5zM15 3H5V1.5h10V3zM3 3H1V1.5h2V3zm0 11.5H1V13h2v1.5zm0-5.75H1v-1.5h2v1.5z">
                    </path>
                </svg>
    
            </button>
        </div>
    }
 
    <div class=" flex-col    overflow-y-auto overflow-x-hidden my-5 mx-2 ">
        @for (item of items(); track $index) {
            <app-list-a-item [isExpanded]="isExpanded()" [item]="item" class="w-full  cursor-pointer overflow-hidden"></app-list-a-item>
        }
     
    </div>
   
</section>
