<nav class="bg-black flex border-b border-spotify-lightBlack sm:border-transparent justify-between items-center p-2">

    <!-- spotify icon  -->
    <div class="space-y-12 flex flex-col items-center justify-center cursor-pointer "  [routerLink]="['/home']">
      <img src="../../../../assets/imgs/logo.jpeg" class="w-14 h-14 translate-x-3.5 " alt="">
  
      </div>
      <!-- search and home  -->
       <div class=" hidden sm:flex w-2/5  flex-row justify-center items-center ">
<!-- home icon  -->
       <button class="p-3 mx-2 rounded-full bg-spotify-gray-dark" [routerLink]="['/home']">
        <svg data-encore-id="icon" role="img" aria-hidden="true" class="h-6 w-6"  viewBox="0 0 24 24"><path class="fill-white" d="M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z"></path></svg>
       </button>
     <!-- header.component.html -->
<div class="p-3 rounded-full w-full  bg-spotify-gray-dark flex justify-between items-center">
  <button (click)="onSearch()"  >
    <svg xmlns="http://www.w3.org/2000/svg" data-encore-id="icon" role="img" aria-hidden="true" data-testid="search-icon" viewBox="0 0 24 24" class="w-6 h-6">
      <path class="fill-white" d="M10.533 1.27893C5.35215 1.27893 1.12598 5.41887 1.12598 10.5579C1.12598 15.697 5.35215 19.8369 10.533 19.8369C12.767 19.8369 14.8235 19.0671 16.4402 17.7794L20.7929 22.132C21.1834 22.5226 21.8166 22.5226 22.2071 22.132C22.5976 21.7415 22.5976 21.1083 22.2071 20.7178L17.8634 16.3741C19.1616 14.7849 19.94 12.7634 19.94 10.5579C19.94 5.41887 15.7138 1.27893 10.533 1.27893ZM3.12598 10.5579C3.12598 6.55226 6.42768 3.27893 10.533 3.27893C14.6383 3.27893 17.94 6.55226 17.94 10.5579C17.94 14.5636 14.6383 17.8369 10.533 17.8369C6.42768 17.8369 3.12598 14.5636 3.12598 10.5579Z"></path>
    </svg>
  </button>
  <input type="text"  (keydown)="onSearchInputChange($event)"  (keydown.enter)="onSearch()" placeholder="What do you want to play?" class="px-2 bg-transparent border-0  focus:outline-none text-white w-full">

  <select (change)="onSearchTypeChange($event)" class="bg-spotify-gray-dark focus:outline-none text-white">
    <option   value="track">Track</option>
    <option  value="album">Album</option>
    <option  value="playlist">Playlist</option>
  </select>

</div>
        
     


       </div>
    <!-- user and notification  -->
     <div class=" flex justify-end items-center space-x-4 min-w-max">
        <!-- notification -->
  
        <!-- user  -->
        <div class="relative flex justify-end items-center space-x-4 min-w-max">
          <button 
              class="p-0.5 bg-spotify-gray-dark rounded-full focus:outline-none"
              (click)="toggleDropdown()"
          >
              <img src="../../../../assets/imgs/userIcone.png" alt="user" class="w-10 h-10 rounded-full">
          </button>
  
          <!-- Dropdown Menu -->
           @if(showDropdown){
            <div 
          
            class=" z-50 top-12 right-0 w-48  bg-spotify-gray-dark rounded-md shadow-lg py-1"
            [class.hidden]="!showDropdown" [class.absolute]="showDropdown" 
        >
            <div class="px-4 py-2 hover:bg-spotify-lightBlack cursor-pointer">
                <button 
                    class="w-full text-left text-white hover:text-spotify-green"
                    (click)="logout()"
                >
                    Log Out
                </button>
            </div>
        </div>
           }
      
      </div>

     </div>
</nav>