
  <div class="bg-spotify-black  flex justify-center items-center h-full w-full">
    <!-- Login -->
    <section class="py-20 flex justify-center items-center max-w-sm flex-col">
      <!-- Header -->
      <div class="space-y-12 flex flex-col items-center justify-center">
        <img src="../../../../assets/imgs/logo.jpeg" class="w-32 h-32" alt="">
  
        <h1 class="text-3xl md:text-5xl  text-center tracking-wide min-w-max font-semibold text-white -translate-y-8">Login to VoxPulse</h1>
      </div>
  
     
      <!-- Log In button -->
      <div class="flex justify-center items-center w-full mt-8">
       
        
        @if (!this.authService.isLoggedIn()) {
            <button (click)="login()" class="hover:bg-spotify-green-light font-semibold hover:scale-105 border-spotify-green-lighter border bg-spotify-green-lighter duration-200 text-white w-full rounded-full py-3">
            Login </button>
        }@else {
            <button (click)="logout()" class="hover:bg-spotify-green-light font-semibold hover:scale-105 border-spotify-green-lighter border bg-spotify-green-lighter duration-200 text-white w-full rounded-full py-3">
            Logout  </button>
        } 
      </div>
  
    <div class="text-center mt-4 text-sm text-red-300"> Note : To get the full experience you need to login with your premium spotify account</div>
  
  
  
    </section>
  </div>

