<!-- playlist-page.component.html -->
<div class="bg-[#121212] text-white min-h-full h-full overflow-y-auto p-6 md:p-8" *ngIf="playlist">
    <div class="flex flex-col md:flex-row items-center justify-center md:items-start gap-6 mb-6 md:mb-8">
      <div class="w-full md:w-64 shadow-md">
        <img [src]="playlist.images[0].url" alt="{{ playlist.name }}" class="rounded-md aspect-square object-cover" />
      </div>
  
      <div class="w-full flex flex-col  items-center justify-center md:items-start">
        <h2 class="text-3xl md:text-4xl font-bold mb-2">{{ playlist.name }}</h2>
        <p class="text-spotify-gray mb-4">{{ playlist.description }}</p>
        <p class="text-sm text-gray-500">
          {{ playlist.tracks.total }} tracks
        </p>
        <button (click)="togglePlayPause()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4">
          {{ isPlaying ? 'Pause' : 'Play' }}
        </button>
      </div>
    </div>
  
    <!-- Track List -->
    <div class="overflow-x-auto rounded-md shadow-md">
      <table class="w-full text-left">
        <thead class="text-sm text-spotify-gray uppercase bg-[#282828]">
          <tr>
            <th scope="col" class="px-4 py-3 font-medium">#</th>
            <th scope="col" class="px-4 py-3 font-medium">Track</th>
            <th scope="col" class="px-4 py-3 font-medium">Title</th>
            <th scope="col" class="px-4 py-3 font-medium">Artist</th>
            <th scope="col" class="px-4 py-3 font-medium">Album</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of tracks; let i = index"
            class="hover:bg-[#333333] transition-colors w-full duration-200 cursor-pointer">
            <td class="px-4 py-3">{{ i + 1 }}</td>
            <td class="px-4 py-3">
              <img *ngIf="track.album?.images" class="w-12 h-12 rounded object-cover" [src]="track.album?.images"
                alt="{{ track.name }}" />
              <img *ngIf="!track.album?.images" class="w-12 h-12 rounded object-cover" src="../../../../assets/imgs/image.png"
                alt="{{ track.name }}" />
            </td>
            <td class="px-4  py-3">{{ track.name }}</td>
            <td class="px-4 py-3">{{ getArtistNames(track) }}</td>
            <td class="px-4 py-3">{{ track.album?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="!playlist" class="bg-[#121212] text-white min-h-screen p-6 md:p-8 flex items-center justify-center">
   <app-loading></app-loading>
  </div>