<div class="flex items-center justify-center h-full">
    <div class="text-center">
      <!-- Loading Animation -->
      <div class="flex space-x-2 mb-4">
        <div class="w-3 h-8 bg-spotify-green-lighter rounded-full animate-bounce "></div>
        <div class="w-3 h-10 bg-spotify-green-lighter rounded-full animate-bounce"></div>
        <div class="w-3 h-12 bg-spotify-green-lighter rounded-full animate-bounce "></div>
        <div class="w-3 h-10 bg-spotify-green-lighter rounded-full animate-bounce "></div>
        <div class="w-3 h-8 bg-spotify-green-lighter rounded-full animate-bounce "></div>
      </div>
  
      <!-- Loading Text
      <p class="text-lg font-semibold text-gray-300 mt-4">Loading your playlist...</p>
      <p class="text-sm text-gray-500">Please wait a moment</p> -->
    </div>
  </div>